* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    scroll-behavior: smooth; 
    background-color: #BDAE82;
    overflow-x: hidden;
    
    
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    margin: 0 ;
    background-color: #000000;
    overflow-x: hidden;
    
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    
}
  
.header-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 90px;
    background: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
    padding: 0 20px;
    overflow-x: hidden;      
}

nav {
    height: 50px;
    padding: 0 30px;
}

.language {
        height: 50px;
        padding: 0;
}

.header-container > img {
    width: 50px;
    margin-right: auto;
} 

.nav-list li {
      color:white;
      float: left;
      display: block;
      list-style-type: none;
      margin-left: 30px;
      font-family: Inter;
      font-size: 20px;
      line-height: 50px;
      color: #FFFFFF;
}
.language li {
    color:white;
    float: left;
    display: block;
    list-style-type: none;
    margin-left: 9px;
    
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 50px;
    color: #FFFFFF;
}


a {
      text-decoration: none;
      color: white;
  }
  section{
  padding: 0 20px;
}
    
  .hero-container {
    height: 820px;
    background: url('../assets/img/bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
    position: relative;

           
    }

  .hero-text {      
    height: 330px;
    width: 500px;
    color:white;
    position: absolute;
    top: 160px;
    left: 80px;
    padding-left: 0;
  }

  button {
    background: black;
    border-radius: 0px;
    height: 55px;
    width: 220px;
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    color: #BDAE82;
    border: 1px solid #BDAE82;
    cursor: pointer;

  }
  button:hover{
    background: #BDAE82;
    color:#000000;
  }
    
  h1{
    height: 120px;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 60px;
    line-height: 120px;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  .hero-text p {
    font-family: Inter;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 25px;
    width: 470px;
  }

  .section-title {
    margin: 100px auto 60px;
    text-align: center;
    font-family: Merriweather;
    font-weight: bold;
    font-size: 40px;
    line-height: 80px;
    color: #BDAE82;
    width: 700px;
    position: relative;
    z-index: 4;        
    }

    span {
        padding: 20px;
        position: relative;
        z-index: 6;        
        background-color: #000000;
    }
  
    .section-title::before{
        content:"";
        position: absolute;
        height: 2px;
        width: 100%;
        background: #BDAE82;
        border-radius: 0px;
        top: 39px;
        left: 0px;
        z-index: 5;
      }

.skills-items {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  align-items: center;

}
.skill-item {
  width: 320px;
  background-position: center top;
  background-repeat: no-repeat;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  line-height: 36px;
  color: #FFFFFF;
  padding: 100px 20px 8px
}
.skill-item h3 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
}


.skill-1{
  background-image: url('../assets/svg/camera1.svg');
}
.skill-2{
  background-image: url('../assets/svg/video1.svg');
}
.skill-3{
  background-image: url('../assets/svg/image1.svg');
}
.skill-4{
  background-image: url('../assets/svg/mic1.svg');
}

.button-container{
  display: flex;
  justify-content: center;
  gap: 5px;
  align-items: center;
  margin-bottom: 60px;

}
.foto {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-around;
  align-items: center;
}
.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../assets/img/video-player\(1\).jpg');
  background-repeat: no-repeat;
  background-position: center;
  height: 705px;
}
.price-container {
  display: flex;
  gap: 25px;
  justify-content: center;
  flex-wrap: wrap;
  
  }

.price-container > div{
  border: 2px solid #BDAE82;
  height: 505px;
  width: 450px;
  text-align: center;
  padding-top: 43px;

}
.price-container span{
  color:white;
  display: block;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top:0px;
  padding-bottom: 0px;
  font-family: Inter;
}
.price-container h2{
  color:white;
  font-weight: bold;
font-size: 28px;
line-height: 56px;
text-align: center;
  
}
.price {
font-weight: bold;
font-size: 24px;
line-height: 48px;
text-align: center;
color: #BDAE82;
margin: 20px auto;
}
.price-container button{
  margin-top: 40px;
}

#footer{
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#FFFFFF;
  font-family: Inter;
  font-style: normal;
  font-size: 20px;
  line-height: 50px;
  padding: 0 20px;

}
#footer img{
  margin-left: 30px;
}
#footer span{
  margin-right: 20px;
  padding: 0;
}

#contacts {
  background: url('../assets/img/contacts1.jpg');
  background-position: center center;
  background-size: auto 700px;
  height: 700px;
  position: relative;
  margin-top: 100px;
  margin-bottom: 0px;
}

.contacts-container {
  width: 31.2%;
  height: 445px;
  position: absolute;
  padding: 0px;
  top: 8.57%;
  left: 67.36%;
  font-family: Inter;
  font-size: 20px;
  line-height: 40px;
  text-align: left;
  vertical-align: Top;
  color: #BDAE82;
  
}

input {
  width: 450px;
  height: 50px;
  margin-bottom: 20px;
  background: transparent;
  border: 2px solid #BDAE82;
}
textarea {  
  width: 450px;
  height: 100px;
  background: transparent;
  border: 2px solid #BDAE82;
  margin-bottom: 30px;
  resize: none;
}

input::placeholder, textarea::placeholder {
  text-align: left;
  vertical-align: Top;
  color: #BDAE82;
  font-size: 20px;
  line-height: 40px;
  font-family: Inter;
  padding: 5px 20px;
  }

  #contacts h2{
  font-family: Merriweather;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 40px;
  }

  #contacts button, .hero-container button {
    background-color: transparent;
  }
  .nav-hamburger, .hamburger {
    display: none;
  }

  @media (max-width: 768px) {

    html{
      
      overflow-x: hidden;
      
    }

    body {
      min-width: 100vw;
      overflow-x: hidden;
      

           
    }
    .skills-items {
      justify-content: space-around;
      margin-bottom: 36px;
      
    }

    .container {
      width: 100%;
      margin: 0;
      overflow-x: hidden;

    }
    
    .hero-container {
      height: 500px;
      background-position: -5px -120px;
      background-size: auto 620px;
    }
    .header-container {
      height: 90px;
      background-position: -5px -30px;
      background-size: auto 620px;
      padding: auto 64px auto 60px ;
      
      overflow-x: hidden;

    }
    .price-container > div {
      justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
    }

    .foto {
      justify-content: space-around;
      align-items: center;
    }

    .header-container > img {
      width: 50px;
      margin-right: auto;
      position: absolute;
      top: 25px;
      left: 60px;
  } 
 

  /*.logo {
    background-image: url('./assets/svg/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;  
    transition: 0.3s;
  }
  .logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
      contrast(87%);
  }
  .icon {
    width: 30px;
    height: 30px;
    fill: #cdc6db;
  }
  
  .icon:hover {
    fill: #fac420;
  }
  */
  
    h1{
      font-family: Merriweather;
      font-size: 32px;
      line-height: 64px;
      font-weight: normal;
      margin-bottom: 20px;
      height: 64px;
    }

    .hero-text p{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 60px;
    width: 390px;
  }

  .hero-text {
    top: 78px;
    left: 60px;
    padding-left: 0;
    }
    .nav{
      display: none;
    }

  

  .hamburger {
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 2px;
    user-select: none;
  }
  .line{
    height: 2px;
    width: 80%;
    margin-top: 6px;
    background-color: #FFFFFF;
    z-index: 10;
    
  }

  .hamburger.open .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .hamburger.open .line2 {
    opacity: 0;
  }
  
  .hamburger.open .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .nav-hamburger.open {
    display: block;
    position: absolute;
    right: 0px;
    top: 0;
    transition: 0.5s;
    z-index: 10;
    width: 620px;
    height: 618px;
    padding-left: 124px;
    padding-top: 134px;
    background-color: #000000;
       
    
  }
  .nav-hamburger{
    position: absolute;
    right: -620px;
    overflow-x: hidden;
  }
    .nav-list ul{
    display: flex;
    flex-direction: column;
    z-index: 7;
    overflow-x: hidden;    
  }

  .nav-list li{
    float: none;
    
      }

.section-title {
  width: 50%;
  font-size: 32px;
  line-height: 40px;     
  }

  .section-title::before{
    top: 20px;

}
section{
  padding: 0 0;
}
.button-container{
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 55px 55px 55px;
}
.video-player {
  background-size: auto 418px;
  background-position: center;
  height: 418px;
}
.video-player img{
  width: 8.3%;
}
.price-container > div{
  
  width: 54.7%;
}
#contacts {
  background-position: center;
  background-size: auto 600px;
  height: 600px;
  
  margin-top: 80px;
  
}
.contacts-container {
  width: 58.6%;
  height: 429px;
  top: 10%;
  left: 20.7%;
    
}
#contacts h2{
  font-size: 32px;
  line-height: 64px;
  margin-bottom: 40px;
  text-align: center;
  }
  form > button{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #footer{
    flex-direction: column;
  }

  
  

}